.root-input-component {
  display: flex;
  align-items: baseline;
  margin-right: 5px;

  .text {
    font-size: 14px
  }

  .input-component {
    font-size: 15px;
    padding: 20px 5px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid gray;
       &:focus {
          border-radius: 4px;
          border: 2px solid #2a4f97;

      }
  }

  .input-type-number {
      width: 40px;
  }
}
