.list-item-root{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;


  .list-item-status-text{
    display: flex;
  }


  p{
    margin: 0 10px;
  }

  img{
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

}
